tr.selected {
    background-color: gainsboro;
}

.table-scrollable {
    overflow-y: auto;
    /* make the table scrollable if height is more than 200 px  */
    max-height: 70vh;
    /* gives an initial height of 200px to the table */
    scrollbar-width: thin;
}

.table-scrollable thead th {
    position: sticky;
    /* make the table heads sticky */
    top: 0px;
    /* table head will be placed from the top of the table and sticks to it */
    background: white;
}

table {
    /* make the table borders collapse to each other */
    width: 100%;
}